.landing-leader{
    .react-reveal {
        height: 60px;
        overflow: hidden;
        text-align: center;
        padding-left: 24%;
    }
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    overflow:hidden;
    
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 60px;
    color: #ecf0f1;
    
    &__container {
        font-weight: 200;
        overflow: hidden;
        height: 60px;
        padding: 0 60px;
    
        &__text {
            display: inline;
            float: left;
            margin: 0;
        }
    
        &__list {
            margin-top: 0;
            padding-left: 40px;
            text-align: left;
            list-style: none;
            font-weight: 600;
            
            -webkit-animation-name: change;
            -webkit-animation-duration: 16s;
            -webkit-animation-iteration-count: infinite;
            animation-name: change;
            animation-duration: 16s;
            animation-iteration-count: infinite;
    
            &__item {
                line-height:60px;
                margin:0;
            }
    }
}
}
  
@-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}


  
@-webkit-keyframes change {
    0%, 100% {transform: translate3d(0, 0, 0);}
    12.5%, 87.5% {transform: translate3d(0, -20%, 0);}
    25%, 75% {transform: translate3d(0, -40%, 0);}
    37.5%, 62.5% {transform: translate3d(0, -60%, 0);}
    50% {transform: translate3d(0, -80%, 0);}
}
  
@-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
  
@-o-keyframes change {
    0%, 100% {transform: translate3d(0, 0, 0);}
    12.5%, 87.5% {transform: translate3d(0, -20%, 0);}
    25%, 75% {transform: translate3d(0, -40%, 0);}
    37.5%, 62.5% {transform: translate3d(0, -60%, 0);}
    50% {transform: translate3d(0, -80%, 0);}
}
  
@-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
  
@-moz-keyframes change {
    0%, 100% {transform: translate3d(0, 0, 0);}
    12.5%, 87.5% {transform: translate3d(0, -20%, 0);}
    25%, 75% {transform: translate3d(0, -40%, 0);}
    37.5%, 62.5% {transform: translate3d(0, -60%, 0);}
    50% {transform: translate3d(0, -80%, 0);}
}
  
@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
@keyframes change{
    0%, 100% {transform: translate3d(0, 0, 0);}
    12.5%, 87.5% {transform: translate3d(0, -20%, 0);}
    25%, 75% {transform: translate3d(0, -40%, 0);}
    37.5%, 62.5% {transform: translate3d(0, -60%, 0);}
    50% {transform: translate3d(0, -80%, 0);}
}
  
